name: Run Tests

on:
  workflow_call:

jobs:
  test:
    runs-on: macos-15
    permissions:
      contents: read
    timeout-minutes: 30
    strategy:
      matrix:
        test_target: [intg, ui]
      fail-fast: false
    env:
      MINT_PATH: ${{ github.workspace }}/.mint
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          setup_xcode: true
          generate_project: true
          setup_ruby: true

      - name: Run Tests
        run: just ${{ matrix.test_target }}-test

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.test_target }}-test-results
          path: ${{ github.workspace }}/fastlane/build/test-results/${{ matrix.test_target }}/TestResults.xcresult
          retention-days: 3
